@media (max-width: 850px) {
  .card {
    flex-direction: column;
    gap: 40px;
  }
  .paragrafo {
    width: 80% !important;
    text-align: center;
  }
  .sectionCard {
    margin: auto 2rem !important;
  }
} ;
