.cards {
  align-items: center;
}

@media (max-width: 1120px) {
  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
  }
}

@media (max-width: 620px) {
  .textosPlanos {
    font-size: 24px !important;
  }
}
