.nav {
  display: flex;
  background-color: #171718;
  position: fixed;
  width: 100%;
  padding: 0.4rem 7rem;
  justify-content: space-between;
}

.logo {
  width: 80px;
}

li:hover {
  cursor: pointer;
  color: orange;
}
