
@media (max-width: 950px) {
  .map {
    width: 60vw !important;
    height: 40vh !important;
  }
}

@media (max-width: 650px) {
  .map {
    width: 80vw !important;
    height: 30vh !important;
  }
}
