.backgroundScreenOne {
  background-image: url("../../assets/gym.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100vh;
}
